<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDs1U3uB_SyxcFRhkT1OOVVtjGVI6iVC08</string>
	<key>GCM_SENDER_ID</key>
	<string>73830162174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.UrquizoSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-a2a6b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-a2a6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73830162174:ios:f941673934a3a4d1a48faf</string>
</dict>
</plist>